.git
.env
.env.*
.local-data
files

node_modules
**/node_modules
.pnpm-store
dist
**/dist
build
**/build
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results

*.log
pnpm-debug.log*
packages/database/src/generated/prisma
